<div class="card bg-light border-0">
  <div class="card-body text-center py-5">
    <h1 class="display-4 mb-4">Welcome to Project Manager</h1>
    <p class="lead mb-4">A simple application to manage your projects.</p>
    <hr class="my-4">
    <p class="mb-4">Click the button below to start managing your projects.</p>
    <%= link_to 'View Projects', projects_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
