<% flash.each do |name, msg| %>
  <div class="<%= flash_class(name) %>" role="alert">
    <div class="d-flex align-items-center gap-2">
      <i class="<%= flash_icon_class(name) %>"></i>
      <%= msg %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>